#!/usr/bin/env bash

set -e

TARGET_FILE="grafana-backup-$(date -I).tar.gz"
SOURCE_DIR="/monitoring/grafana"

cd /tmp
tar -czf "$TARGET_FILE" -C "$SOURCE_DIR" grafana.db plugins
md5_hash=$(/usr/bin/openssl dgst -md5 -binary "$TARGET_FILE" | base64)

/usr/bin/s3cmd put --add-header="Content-MD5: $md5_hash" --disable-multipart \
  "$TARGET_FILE" s3://{{ grafana_backup_bucket }}/"$TARGET_FILE"

rm "$TARGET_FILE"
